<div class="page">
    <header class="head mb-5 flex flex-column md:flex-row justify-content-between md:align-items-center gap-4">
        <div>
            <h1>Tablero de Tickets</h1>
            <p>Gestiona el estado de tus tickets arrastrándolos entre las columnas.</p>
        </div>
        <p-button label="Crear ticket" icon="pi pi-plus" styleClass="mt-2 md:mt-0"></p-button>
    </header>

    <div class="kanban-board">

        <!-- Columna Pendiente -->
        <div class="kanban-column">
            <h3 class="column-header">Pendiente</h3>
            <div cdkDropList id="pendienteList" [cdkDropListData]="pendiente" [cdkDropListConnectedTo]="connectedLists"
                class="kanban-list" (cdkDropListDropped)="drop($event)">

                <p-card *ngFor="let ticket of pendiente" cdkDrag class="kanban-card cursor-pointer"
                    (click)="openTicket(ticket)">
                    <ng-template pTemplate="header">
                        <div class="card-header">
                            <div class="flex align-items-center gap-2">
                                <b class="text-sm font-semibold">{{ ticket.title }}</b>

                            </div>
                            <p-tag [value]="ticket.priority" [severity]="getPrioritySeverity(ticket.priority)"></p-tag>
                        </div>
                    </ng-template>
                    <div class="card-content">
                        <div class="row-details">
                            <div class="flex flex-column gap-1">
                                <span class="date"><i class="pi pi-calendar"></i> Creado: {{ ticket.createdAt }}</span>
                                <span class="date" *ngIf="ticket.dueDate"><i class="pi pi-clock"></i> Límite: {{
                                    ticket.dueDate }}</span>
                            </div>
                            <p-avatar [label]="ticket.assignee.charAt(0).toUpperCase()" shape="circle"
                                [title]="ticket.assignee"></p-avatar>
                        </div>
                    </div>
                </p-card>
            </div>

        </div>

        <!-- Columna En progreso -->
        <div class="kanban-column">
            <h3 class="column-header">En progreso</h3>
            <div cdkDropList id="enProgresoList" [cdkDropListData]="enProgreso"
                [cdkDropListConnectedTo]="connectedLists" class="kanban-list" (cdkDropListDropped)="drop($event)">

                <p-card *ngFor="let ticket of enProgreso" cdkDrag class="kanban-card cursor-pointer"
                    (click)="openTicket(ticket)">
                    <ng-template pTemplate="header">
                        <div class="card-header">
                            <div class="flex align-items-center gap-2">
                                <b class="text-sm font-semibold">{{ ticket.title }}</b>

                            </div>
                            <p-tag [value]="ticket.priority" [severity]="getPrioritySeverity(ticket.priority)"></p-tag>
                        </div>
                    </ng-template>
                    <div class="card-content">
                        <div class="row-details">
                            <div class="flex flex-column gap-1">
                                <span class="date"><i class="pi pi-calendar"></i> Creado: {{ ticket.createdAt }}</span>
                                <span class="date" *ngIf="ticket.dueDate"><i class="pi pi-clock"></i> Límite: {{
                                    ticket.dueDate }}</span>
                            </div>
                            <p-avatar [label]="ticket.assignee.charAt(0).toUpperCase()" shape="circle"
                                [title]="ticket.assignee"></p-avatar>
                        </div>
                    </div>
                </p-card>
            </div>
        </div>

        <!-- Columna Revisión -->
        <div class="kanban-column">
            <h3 class="column-header">Revisión</h3>
            <div cdkDropList id="revisionList" [cdkDropListData]="revision" [cdkDropListConnectedTo]="connectedLists"
                class="kanban-list" (cdkDropListDropped)="drop($event)">

                <p-card *ngFor="let ticket of revision" cdkDrag class="kanban-card cursor-pointer"
                    (click)="openTicket(ticket)">
                    <ng-template pTemplate="header">
                        <div class="card-header">
                            <div class="flex align-items-center gap-2">
                                <b class="text-sm font-semibold">{{ ticket.title }}</b>

                            </div>
                            <p-tag [value]="ticket.priority" [severity]="getPrioritySeverity(ticket.priority)"></p-tag>
                        </div>
                    </ng-template>
                    <div class="card-content">
                        <div class="row-details">
                            <div class="flex flex-column gap-1">
                                <span class="date"><i class="pi pi-calendar"></i> Creado: {{ ticket.createdAt }}</span>
                                <span class="date" *ngIf="ticket.dueDate"><i class="pi pi-clock"></i> Límite: {{
                                    ticket.dueDate }}</span>
                            </div>
                            <p-avatar [label]="ticket.assignee.charAt(0).toUpperCase()" shape="circle"
                                [title]="ticket.assignee"></p-avatar>
                        </div>
                    </div>
                </p-card>
            </div>
        </div>

        <!-- Columna Hecho -->
        <div class="kanban-column">
            <h3 class="column-header">Hecho</h3>
            <div cdkDropList id="hechoList" [cdkDropListData]="hecho" [cdkDropListConnectedTo]="connectedLists"
                class="kanban-list" (cdkDropListDropped)="drop($event)">

                <p-card *ngFor="let ticket of hecho" cdkDrag class="kanban-card cursor-pointer"
                    (click)="openTicket(ticket)">
                    <ng-template pTemplate="header">
                        <div class="card-header">
                            <div class="flex align-items-center gap-2">
                                <b class="text-sm font-semibold">{{ ticket.title }}</b>

                            </div>
                            <p-tag [value]="ticket.priority" [severity]="getPrioritySeverity(ticket.priority)"></p-tag>
                        </div>
                    </ng-template>
                    <div class="card-content">
                        <div class="row-details">
                            <div class="flex flex-column gap-1">
                                <span class="date"><i class="pi pi-calendar"></i> Creado: {{ ticket.createdAt }}</span>
                                <span class="date" *ngIf="ticket.dueDate"><i class="pi pi-clock"></i> Límite: {{
                                    ticket.dueDate }}</span>
                            </div>
                            <p-avatar [label]="ticket.assignee.charAt(0).toUpperCase()" shape="circle"
                                [title]="ticket.assignee"></p-avatar>
                        </div>
                    </div>
                </p-card>
            </div>
        </div>

    </div>


















    <!-- Modal Editar Ticket -->
    <p-dialog [(visible)]="editDialogVisible" [modal]="true" [style]="{ width: '550px' }" header="Detalles del Ticket"
        [draggable]="false" [resizable]="false" contentStyleClass="p-4">

        <div class="flex flex-column gap-4" *ngIf="selectedTicket">
            <div class="flex flex-column gap-2">
                <label for="title">Título</label>
                <input pInputText id="title" [(ngModel)]="editingTicket.title" class="w-full" />
            </div>

            <div class="flex flex-column gap-2">
                <label for="description">Descripción</label>
                <textarea pTextarea id="description" [(ngModel)]="editingTicket.description" rows="4"
                    class="w-full"></textarea>
            </div>

            <div class="flex gap-4">
                <div class="flex-1 flex flex-column gap-2">
                    <label for="state">Estado</label>
                    <p-select [options]="stateOptions" [(ngModel)]="editingTicket.state" optionLabel="label"
                        optionValue="value" appendTo="body" styleClass="w-full"></p-select>
                </div>
                <br>
                <div class="flex-1 flex flex-column gap-2">
                    <label for="priority">Prioridad</label>
                    <p-select [options]="priorityOptions" [(ngModel)]="editingTicket.priority" optionLabel="label"
                        optionValue="value" appendTo="body" styleClass="w-full"></p-select>
                </div>
            </div>

            <div class="flex gap-4">
                <div class="flex-1 flex flex-column gap-2">
                    <label for="assignee">Asignado a</label>
                    <input pInputText id="assignee" [(ngModel)]="editingTicket.assignee" class="w-full" />
                </div>

                <br>
                <div class="flex-1 flex flex-column gap-2">
                    <label for="dueDate">Fecha Límite</label>
                    <input pInputText type="date" id="dueDate" [(ngModel)]="editingTicket.dueDate" class="w-full" />
                </div>
            </div>
        </div>

        <ng-template pTemplate="footer">
            <p-button label="Cancelar" icon="pi pi-times" [text]="true" severity="secondary"
                (onClick)="cancelEdit()"></p-button>
            <p-button label="Guardar" icon="pi pi-check" [text]="true" (onClick)="saveTicket()"></p-button>
        </ng-template>
    </p-dialog>
</div>