<p-toast></p-toast>

<div class="auth-wrap">
    <p-card header="Login">
        <form [formGroup]="form" (ngSubmit)="submit()" class="form">
            <div class="field">
                <label>Usuario / Email</label>
                <input pInputText type="text" formControlName="email" placeholder="admin / user" />

                <small class="error" *ngIf="form.controls['email'].touched && form.controls['email'].invalid">
                    Ingresa un usuario válido.
                </small>
            </div>

            <div class="field">
                <label>Contraseña</label>
                <p-password formControlName="password" [toggleMask]="true" [feedback]="false"
                    placeholder="Ingresa tu contraseña!">
                </p-password>

                <small class="error" *ngIf="form.controls['password'].touched && form.controls['password'].invalid">
                    La contraseña es obligatoria.
                </small>
            </div>

            <button pButton type="submit" label="Ingresar" [loading]="loading" class="w-full"></button>

            <div class="register-link">
                <span>¿No tienes cuenta?</span>
                <a routerLink="/register">Crear cuenta</a>
            </div>
        </form>
    </p-card>
</div>